In [3]:
import pandas as pd
import numpy as np

In [131]:
file=r'/Users/Dell/Documents/loans data.csv'

In [132]:
ld=pd.read_csv(file)
ld.head(6)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years
5,62403.0,6000,6000,15.31%,36 months,other,20.05%,CT,OWN,4891.67,670-674,17,10391,2.0,3 years

In [133]:
ld.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

In [134]:
ld.drop(['ID','Amount.Funded.By.Investors'],axis=1,inplace=True)

In [135]:
for col in ['Interest.Rate','Debt.To.Income.Ratio']:
    ld[col]=ld[col].str.replace('%','')

In [136]:
print(ld.select_dtypes(['object']).columns)
ld.head()

Index(['Amount.Requested', 'Interest.Rate', 'Loan.Length', 'Loan.Purpose',
       'Debt.To.Income.Ratio', 'State', 'Home.Ownership', 'FICO.Range',
       'Open.CREDIT.Lines', 'Revolving.CREDIT.Balance', 'Employment.Length'],
      dtype='object')

,Amount.Requested,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000,8.90,36 months,debt_consolidation,14.90,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,19200,12.12,36 months,debt_consolidation,28.36,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,35000,21.98,60 months,debt_consolidation,23.81,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,10000,9.99,36 months,debt_consolidation,14.30,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
4,12000,11.71,36 months,credit_card,18.78,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years

In [137]:
for col in ['Amount.Requested','Interest.Rate','Debt.To.Income.Ratio','Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
    ld[col]=pd.to_numeric(ld[col],errors='coerce')

In [138]:
k=ld['FICO.Range'].str.split('-',expand=True).astype(int)
ld['fico']=0.5*(k[0]+k[1])
ld['fico']

0       737.0
1       717.0
2       692.0
3       697.0
4       697.0
5       672.0
6       722.0
7       707.0
8       687.0
9       717.0
10      672.0
11      667.0
12      672.0
13      737.0
14      727.0
15      732.0
16      697.0
17      742.0
18      732.0
19      762.0
20      667.0
21      697.0
22      667.0
23      697.0
24      672.0
25      707.0
26      677.0
27      677.0
28      767.0
29      762.0
        ...
2470    667.0
2471    772.0
2472    687.0
2473    652.0
2474    662.0
2475    677.0
2476    677.0
2477    732.0
2478    727.0
2479    682.0
2480    762.0
2481    812.0
2482    722.0
2483    677.0
2484    692.0
2485    767.0
2486    667.0
2487    662.0
2488    687.0
2489    672.0
2490    712.0
2491    722.0
2492    712.0
2493    677.0
2494    687.0
2495    707.0
2496    742.0
2497    682.0
2498    677.0
2499    672.0
Name: fico, Length: 2500, dtype: float64

In [139]:
del ld['FICO.Range']

In [140]:
ld.dtypes

Amount.Requested                  float64
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
fico                              float64
dtype: object

In [142]:
ld['Employment.Length']=ld['Employment.Length'].str.replace('years',"")

ld['Employment.Length']=ld['Employment.Length'].str.replace('year',"")

ld['Employment.Length']=np.where(ld['Employment.Length'].str[:2]=="10",10,ld['Employment.Length'])

ld['Employment.Length']=np.where(ld['Employment.Length'].str[0]=="<",0,ld['Employment.Length'])

ld['Employment.Length']=pd.to_numeric(ld['Employment.Length'],errors='coerce')

In [143]:
ld.dtypes

Amount.Requested                  float64
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                 float64
fico                              float64
dtype: object

In [144]:
cat_cols=ld.select_dtypes(['object']).columns
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership'], dtype='object')

In [146]:
for col in cat_cols:
    freqs=ld[col].value_counts()
    k=freqs.index[freqs>20][:-1]
    for cat in k:
        name=col+'_'+cat
        ld[name]=(ld[col]==cat).astype(int)
    del ld[col]
    print(col)

Loan.Length
Loan.Purpose
State
Home.Ownership

In [147]:
ld.shape

(2500, 50)

In [149]:
from sklearn.model_selection import train_test_split

In [150]:
ld_train,ld_test=train_test_split(ld,test_size=0.2,random_state=2)

In [151]:
ld_train.isnull().sum()

Amount.Requested                    5
Interest.Rate                       0
Debt.To.Income.Ratio                1
Monthly.Income                      3
Open.CREDIT.Lines                   7
Revolving.CREDIT.Balance            4
Inquiries.in.the.Last.6.Months      3
Employment.Length                  68
fico                                0
Loan.Length_36 months               0
Loan.Purpose_debt_consolidation     0
Loan.Purpose_credit_card            0
Loan.Purpose_other                  0
Loan.Purpose_home_improvement       0
Loan.Purpose_major_purchase         0
Loan.Purpose_small_business         0
Loan.Purpose_car                    0
Loan.Purpose_wedding                0
Loan.Purpose_medical                0
Loan.Purpose_moving                 0
State_CA                            0
State_NY                            0
State_TX                            0
State_FL                            0
State_IL                            0
State_GA                            0
State_PA                            0
State_NJ                            0
State_VA                            0
State_MA                            0
State_OH                            0
State_MD                            0
State_NC                            0
State_CO                            0
State_WA                            0
State_CT                            0
State_AZ                            0
State_MI                            0
State_AL                            0
State_MN                            0
State_MO                            0
State_NV                            0
State_OR                            0
State_SC                            0
State_WI                            0
State_KY                            0
State_LA                            0
State_KS                            0
Home.Ownership_MORTGAGE             0
Home.Ownership_RENT                 0
dtype: int64

In [170]:
from sklearn.model_selection import train_test_split

In [176]:
ld_train1,ld_train2=train_test_split(ld_train,test_size=0.2,random_state=2)

In [181]:
x_train1=ld_train1.drop(['Interest.Rate'],axis=1)
y_train1=ld_train1['Interest.Rate']

In [182]:
from sklearn.linear_model import LinearRegression

In [183]:
lm=LinearRegression()

In [184]:
lm.fit(x_train1,y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [185]:
x_train2=ld_train2.drop(['Interest.Rate'],axis=1)

In [189]:
predict_val=lm.predict(x_train2)

In [190]:
from sklearn.metrics import mean_absolute_error

In [191]:
mean_absolute_error(ld_train2['Interest.Rate'],predict_val)

1.6034624131664017

In [ ]:
x_train=ld_train.drop(['Interest.Rate'],axis=1)
y_train=ld_train['Interest.Rate']
pd.DataFrame(test_pred).to_csv

In [153]:
for col in ld_train.columns:
    if ld_train[col].isnull().sum()>0:
        ld_train.loc[ld_train[col].isnull(),col]=ld_train[col].mean()

C:\Users\Dell\Anaconda3\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [154]:
for col in ld_test.columns:
    if ld_test[col].isnull().sum()>0:
        ld_test.loc[ld_test[col].isnull(),col]=ld_train[col].mean()

C:\Users\Dell\Anaconda3\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [155]:
x_train=ld_train.drop('Interest.Rate',axis=1)
y_train=ld_train['Interest.Rate']

In [157]:
from sklearn.linear_model import LinearRegression

In [158]:
lm=LinearRegression()

In [159]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [160]:
lm.coef_

array([ 1.59022871e-04, -1.24634631e-03, -1.72321940e-05, -2.77642304e-02,
       -5.53873051e-06,  3.12682325e-01,  1.66712974e-02, -8.77111454e-02,
       -3.18942867e+00, -7.18315714e-01, -8.19144596e-01, -2.16573081e-02,
       -8.70744563e-01, -4.73067295e-01, -7.47443174e-02, -5.30388603e-01,
       -9.86669647e-01, -5.88345143e-01,  8.48109220e-01, -3.44000367e-01,
       -2.87504701e-01,  3.46772783e-01, -2.38596914e-01, -6.90300204e-01,
       -7.33276432e-02, -4.66224837e-01, -4.66453857e-01, -9.54028793e-02,
       -2.52064436e-01,  4.50903443e-02,  7.65896752e-02, -2.58654292e-01,
       -4.31816689e-01, -1.73865271e-01,  1.85795176e-01,  1.94899987e-01,
       -1.31445475e-01, -1.88271246e-02,  1.49751342e-01, -3.47940488e-01,
       -2.93480835e-01,  3.25796285e-01, -1.11971972e-01,  1.01370116e-01,
        2.70634480e-02,  1.20125119e-01,  2.90530128e-01, -3.95869610e-01,
       -2.30952459e-01])

In [161]:
list(zip(x_train.columns,lm.coef_))

[('Amount.Requested', 0.00015902287100738507),
 ('Debt.To.Income.Ratio', -0.0012463463068504215),
 ('Monthly.Income', -1.7232194038668082e-05),
 ('Open.CREDIT.Lines', -0.027764230360475012),
 ('Revolving.CREDIT.Balance', -5.538730509568879e-06),
 ('Inquiries.in.the.Last.6.Months', 0.3126823248902676),
 ('Employment.Length', 0.01667129735496764),
 ('fico', -0.08771114538649516),
 ('Loan.Length_36 months', -3.1894286701122705),
 ('Loan.Purpose_debt_consolidation', -0.7183157144663026),
 ('Loan.Purpose_credit_card', -0.8191445962313804),
 ('Loan.Purpose_other', -0.02165730814839617),
 ('Loan.Purpose_home_improvement', -0.8707445629027333),
 ('Loan.Purpose_major_purchase', -0.47306729507051376),
 ('Loan.Purpose_small_business', -0.0747443174003901),
 ('Loan.Purpose_car', -0.5303886029961907),
 ('Loan.Purpose_wedding', -0.9866696472050147),
 ('Loan.Purpose_medical', -0.5883451427815728),
 ('Loan.Purpose_moving', 0.848109220297538),
 ('State_CA', -0.3440003668582441),
 ('State_NY', -0.287504701283933),
 ('State_TX', 0.34677278312254634),
 ('State_FL', -0.23859691376509448),
 ('State_IL', -0.6903002039328452),
 ('State_GA', -0.0733276432352008),
 ('State_PA', -0.4662248373925975),
 ('State_NJ', -0.4664538573038757),
 ('State_VA', -0.09540287932968694),
 ('State_MA', -0.2520644362461886),
 ('State_OH', 0.04509034433113662),
 ('State_MD', 0.0765896752474955),
 ('State_NC', -0.2586542922268141),
 ('State_CO', -0.43181668877592877),
 ('State_WA', -0.17386527118327863),
 ('State_CT', 0.1857951762808588),
 ('State_AZ', 0.1948999866314804),
 ('State_MI', -0.1314454750516082),
 ('State_AL', -0.018827124618966302),
 ('State_MN', 0.1497513424518086),
 ('State_MO', -0.3479404884928077),
 ('State_NV', -0.29348083507456835),
 ('State_OR', 0.32579628482237605),
 ('State_SC', -0.11197197239354614),
 ('State_WI', 0.10137011600305672),
 ('State_KY', 0.027063448039198162),
 ('State_LA', 0.1201251188902199),
 ('State_KS', 0.29053012770699826),
 ('Home.Ownership_MORTGAGE', -0.3958696100592943),
 ('Home.Ownership_RENT', -0.23095245939170667)]

In [162]:
x_test=ld_test.drop(['Interest.Rate'],axis=1)

In [163]:
predicted_ir=lm.predict(x_test)

In [165]:
from sklearn.metrics import mean_absolute_error

In [166]:
mean_absolute_error(ld_test['Interest.Rate'],predicted_ir)

1.5416374319410748

In [167]:
from sklearn.linear_model import Ridge,Lasso

In [168]:
from sklearn.model_selection import KFold

In [169]:
lambdas=np.linspace(1,100,100)

# RIDGE REGRESSION

In [192]:
from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import GridSearchCV

In [193]:
lambdas=np.linspace(1,100,100)

In [194]:
params={'alpha':lambdas}

In [197]:
model=Ridge(fit_intercept=True)

In [ ]:
grid_search=GridSearchCV

In [198]:
lambdas=np.linspace(1,100,100)

ld_train.reset_index(inplace=True,drop=True)

x_train=ld_train.drop(['Interest.Rate'],axis=1)
y_train=ld_train['Interest.Rate']

In [ ]:
for a in lambdas:
    ridge=Ridge(fit_intercept=True,alpha=a)
    kf=KFold(n_splits=10)
    xval_err=0
    
    for train,test in kf.splits(x_train):
        ridge.fit(x_train.loc[train],y_train[train])
        p=ridge.predict(x_train.loc[test])

In [ ]:
mae_list=[]
for a in lambdas:
    ridge=Ridge(fit_intercept=True,alpha=a)
    kf=KFold(n_splits=10)
    xval_err=0
    
    for train,test in kf.splits(x_train):
        ridge.fit(x_train.loc[train],y_train[train])
        P=predict(x_train.loc[test])
        xval_err+=mean_absolute_error(y_train[test],p)
    
    mae_10cv=xval_err/10
    print(a,':',mae_10cv)
    mae_list.extend([mae_10cv])